div{
    min-width: 100px;
    min-height: 30px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 4fr;
}
.red{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 2 ;
    grid-row-start: 1;
    grid-row-end: 3;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.pink{
    background-color:palevioletred;
}
.purple{
    background-color: purple;
}
.yellow{
    background-color: yellow;
}
.brown{
    background-color: brown;
}
.black{
    background-color: black;
}
.cyan{
    background-color: cyan;
}
