body{
    background-color: aliceblue;
    text-align: center;
    color: white;
}
.box{
    height: 100px;
    width: 100px;
}

.container{
    /* width: 1500px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* height: 1500px; */
    /* align-items: center; */
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}

.red{
    background-color: red;
    order: 9;
}
.green{
    background-color: green;
    order: 8;
}
.blue{
    flex-grow: 3;
    background-color: blue;
    order: 7;
    height: 280px;
}
.pink{
    background-color:palevioletred;
    order: 6;
}
.purple{
    background-color: purple;
    order: 5;
}
.yellow{
    background-color: yellow;
    order: 4;
    flex-grow: 2;
}
.brown{
    background-color: brown;
    order: 3;
}
.black{
    background-color: black;
    order: 2;
}
.cyan{
    background-color: cyan;
    order: 1;
}



